* {
    padding: 0;
    margin: 0;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.9rem;
}

.D {
    text-shadow: 0px 0px 10px gold, 0px 0px 10px gold, 0px 0px 10px gold;
}

.R {
    text-shadow: 0px 0px 10px silver, 0px 0px 10px silver, 0px 0px 10px silver;
}

.S {
    text-shadow: 0px 0px 10px rgb(255, 136, 0), 0px 0px 10px rgb(255, 136, 0), 0px 0px 10px rgb(255, 136, 0);
}

nav {
    background-color: blue;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    list-style: none;

}

.site a{
    text-shadow: black 2px 2px 2px;
}

article {
    background-image: url("https://www.dreamworld.com.au/-/media/Images/DreamWorld/Groups/Birthday_Parties/Header/LPhero_birthday-parties_L.ashx");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20%;
    


}

a:hover {
    color: gray;
}

a {
    color: white;   
     text-decoration: none;
     margin: 20px;
}

h2 {
    font-size: 4rem;
    color: white;
    text-shadow: black 5px 5px 5px, black -5px -5px 5px, black 5px -5px 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    background-color: black;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

footer ul li {
    margin: 10px;
}